<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TASK LIST</title>
</head>
<body>
  <h1>Tasks!</h1>
  <ol>
    <% @tasks.each do |task| %>
    <li><%= link_to("#{task[:name]}", task_path(task)) %>
      <%= link_to "Edit", task_edit_path(task) %>
      <%= link_to "Delete", task_path(task.id), method: :delete,
      data: {confirm: "Are you really, really sure?"}%>
    </li>
    <% end %>
  </ol>
  <%= link_to "Create New Task", new_task_path %>
</body>
</html>
